@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Atenati Weber-Morrison
   Date: November 09, 2019
	
   Filename: br_styles.css

*/


/* Media Queries */

@media screen and (max-width: 500px) {
    .content .dropdown img {
        width: 100px;
    }
    .content #logo img {
        width: 900px;
    }
    html {
        width: 1200px;
        height: 3000px;
        font-size: 3em;
    }
    #text {
        display: flex;
        flex-direction: column;
    }
    /* dropdown */
    .content .dropdown {
        display: none;
    }
    .content .dropdown {
        position: relative;
        display: inline-block;
    }
    .content .nav_links {
        display: none;
        position: absolute;
        min-width: 160px;
        padding: 12px 16px;
        z-index: 1;
    }
    .content .nav_links a:hover {
        background-color: white;
        color: black;
    }
    .dropdown:hover .nav_links {
        display: block;
    }
    .content .mainpage_links {
        display: none;
    }
}

.dropdown {
    display: none;
}

/* HTML Styles */

html {
    background-image: url(br_paper.png);
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    background-color: rgba(167, 167, 167, 0.363);
}


/* Header Styles */

#logo {
    display: flex;
    justify-content: left;
    background-color: lightseagreen;
}

#logo img {
    width: 450px;
}

/* mobile linkds */

.nav_links {
    background: #333;
    display: flex;
    flex-direction: row-reverse;
}

.nav_links a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.nav_links a:hover {
    background-color: #ddd;
    color: black;
}

/* main page links */
.mainpage_links {
    background: #333;
    display: flex;
    flex-direction: row-reverse;
}

.mainpage_links a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.mainpage_links a:hover {
    background-color: #ddd;
    color: black;
}


/* Body Styles */

#property_name {
    display: flex;
    margin: 0px;
    background-color: gray;
    justify-content: center;
}

#property_name h1 {
    color: white;
}

figure {
    margin: 5px;
}

#images {
    margin: 0;
    display: flex;
    overflow-x: scroll;
    width: auto;
}

#images img {
    flex: 0 0 350px;
    white-space: nowrap;
    height: 200px;
}

#images figcaption {
    text-align: center;
    font-style: italic;
}


/* Webpage Layout */

#text {
    display: flex;
}

#article_text {
    flex: 0 0 85%;
    background-color: #9c9c9c48;
}

#article_details {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.267);
}

#article_text h1 {
    text-align: center;
}

#article_text p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
    text-align: justify;
}

#article_details ul {
    padding-left: 0%;
    list-style-type: none;
}

#article_details {
    text-align: center;
}


/* Footer Styles */
.footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.267);
    display: flex;
    
  }

  .footer ul {
      list-style-type: none;
      padding: 0px;
  }
    
  .footer a {
    background: #333;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.footer a:hover {
    background-color: white;
    color: black;
}